.example-spacer {
  flex: 1 1 auto;
}


@import '~@angular/cdk/a11y';
// @import '~@angular/material/theming';


:host {
  height: 100vh;
  display: block;
}
.content {
  padding: 2rem;
  box-sizing: border-box;
}

.card-content {
  padding: 1rem;
}


.button1 {
  @include cdk-high-contrast("black-on-white","off") {
    outline: solid 100px;outline-color: aqua;
  }
}
.button2 {margin: 100px 100px 100px 100px;
  @include cdk-high-contrast("active","off") {
    outline: solid 100px;outline-color: red;
  }
}
.button3 {margin: 1px 100px 100px 100px;
//   @media (forced-colors: active) {
//     /* any rules may come here, for example: */
//     outline: solid 10px;outline-color: greenyellow;
//  }
  @include cdk-high-contrast("white-on-black","off") {
    outline: solid 100px;outline-color: greenyellow;
  }
}

.LogoGros {
 display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  object-fit: contain;
}

.topleft {
  position: absolute;
  top: 0px;
  left: 0px;
}

.topright {
  position: absolute;
  top: 40px;
  right: 40px;
  transform: scale(3);
  color: rgba(0,0,0,0.25);
}

.matSelection {
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
}


.example-focus-monitor .cdk-mouse-focused {
  background: rgba(255, 0, 0, 0.5);
  outline: solid 20px;outline-color:  rgba(255, 0, 0, 0.2);
}

.example-focus-monitor .cdk-keyboard-focused {
  background: rgba(0, 255, 0, 0.5);
  outline: solid 20px;outline-color:  rgba(0, 255, 0, 0.2);;
}

.example-focus-monitor .cdk-touch-focused {
  background: rgba(0, 0, 255, 0.5);
}

.example-focus-monitor .cdk-program-focused {
  background: rgba(255, 0, 255, 0.5);
}


.example-focus-monitor-top .cdk-mouse-focused {
  background: rgba(255, 0, 0, 0.5);
}

.example-focus-monitor-top .cdk-keyboard-focused {
  background: rgba(0, 255, 0, 0.5);
}

.example-focus-monitor-top .cdk-touch-focused {
  background: rgba(0, 0, 255, 0.5);
}

.example-focus-monitor-top .cdk-program-focused {
  background: rgba(255, 0, 255, 0.5);
}


button {
  margin-right: 12px;
}

