@import '~@angular/material/theming';

@mixin companyButton($color){

  @if ($color == 'red') {
    background: rgb(212, 82, 82);
} @else if ($color == 'blue'){
    background: rgb(96, 96, 236);
} @else {
  background: gray
}
color: white;
  // background: map-get($mat-indigo,500);
  // color: map-get(map-get($mat-indigo, contrast),500 );
  color: white;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin roundCompanyButton($color) {
  @include companyButton($color);
  border-radius: 50%;
  padding: 10px;
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin boxShadowLight() {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
@mixin boxShadow() {
  box-shadow: 1px 2px 8px rgba(0,0,0, .3);
}
@mixin boxShadowStrong() {
  box-shadow: 1px 2px 5px 3px rgb(14, 14, 14);
}

// @import 'themeVar';


@mixin xs {
  @media (max-width: #{200px}) {
    @content;
  }
}


@mixin sm {
  @media (max-width: #{500px}) {
    @content;
  }
}


@mixin mid {
  @media (max-width: #{800px}) {
    @content;
  }
}

// @include mid {
//   display: none;
// }
