@import '~@angular/material/theming';



@mixin companyButton($circle: false){

  background: map-get($mat-indigo,500);
  color: map-get(map-get($mat-indigo, contrast),500 );

  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  @if $circle {
    border-radius: 50%;
    padding: 10px;  }
}

// Flexbox display
@mixin flexbox(
  $display: flex,
  $direction: row,
  $placeContent: null,
  $placeItems: null,
  $wrap: nowrap,
  $shrink: 0,
  $grow: 0,
  $alignContent: null,
  $justifyContent: null,
  $alignItems: null,
  $justifyItems: null) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  flex-shrink: $shrink;
  flex-grow: $grow;


    @if $placeContent == null {
      @if $alignContent   { align-content: $alignContent; }
      @if $justifyContent { justify-content: $justifyContent; }
    } @else {
      place-content: $placeContent;
    }


    @if $placeItems == null {
      @if $alignItems   { align-items: $alignItems; }
      @if $justifyItems { justify-items: $justifyItems; }
    } @else {
      place-items: $placeItems;
    }
}


@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin boxShadowLight() {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
@mixin boxShadow() {
  box-shadow: 1px 2px 8px rgba(0,0,0, .3);
}
@mixin boxShadowStrong($red:14) {
  box-shadow: 1px 2px 5px 3px rgb($red, 14, 14) !important;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}


@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}


@mixin font($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: cursive;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}



// @import 'themeVar';
// screen mixins
@mixin xs {
  @media (max-width: #{200px}) {
    @content;
  }
}


@mixin sm {
  @media (max-width: #{500px}) {
    @content;
  }
}


@mixin mid {
  @media (max-width: #{800px}) {
    @content;
  }
}


@mixin app-root-theme($theme) {
  $background: map-get($theme, background );

  app-root {
      background-color: mat-color($background , background);
  }
}
