.image{
  margin-bottom: 10px;
  box-shadow: 1px 2px 5px 3px rgb(14, 14, 14);
}

.button1{
  background-color: rgb(96, 96, 236);
  color: white;
  margin-right: 260px;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button2{
  background-color: rgb(212, 82, 82);
  color: white;
  margin-right: 20px;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}



// @import '../../demo.scss';


// .btn3{
//   @extend .button1;
//   display: none;
// }




// .btn1{
//   @include roundCompanyButton('red');
//   @include mid{
//     // display: none;
//   }
// }

// .btn2{
//   @include roundCompanyButton('blue');
//   @include mid{
//     // display: none;
//   }
// }

// .btn3{
//   @extend .btn1;
// }

// .text{
//   width: 40%;
//   @include boxShadowLight();
// }

// @include mid{
//   @for $size from 1 to 3 {
//     .btn#{$size} { margin-right: 20px*$size; }
//    }
// }
