<!-- Nav -->

<app-navigation
  (darkModeSwitched)="switchMode($event)"
  (apressed)="apressed($event)"
></app-navigation>

<div style="margin-top: 50px; margin-left: 50px">
  <!-- Opening -->
  <div *ngIf="a == 'a'">
    <app-page1></app-page1>
  </div>

  <div *ngIf="a == 'b'">
    <app-page2></app-page2>
  </div>



















  <!-- Theming -->

  <div *ngIf="a == 'd'">
    <p class="dont-select">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>

    <mat-slide-toggle
      style="margin-bottom: 20px"
      color="primary"
      [isAltTheme]="isDarkMode"
      (change)="switchMode($event)"
      >Alt Mode</mat-slide-toggle
    >

    <div class="example-focus-monitor">
      <!-- <button  mat-button (click)="openModal()">Open the Modal</button> -->
      <button color="primary" mat-raised-button >Button A</button>
      <button color="primary" mat-raised-button >Button B</button>

    </div>

    <mat-form-field color="warn" class="example-full-width" appearance="legacy">
      <mat-label>Put Info here</mat-label>
      <input matInput placeholder="" value="" />
    </mat-form-field>

    <button
      (click)="openModal2()"
      mat-fab
      color="primary"
      style="margin-left: 20px"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <p style="margin-top: 1em" *ngIf="selection">Selected: {{ selection }}</p>
    <!-- </main> -->
  </div>

  <!-- <mat-option vale="none">None</mat-option>
<mat-option value="a">Erkennbarkeit</mat-option>
<mat-option value="b">Struktur</mat-option>
<mat-option value="c">Typography</mat-option>
<mat-option value="d">Theming</mat-option>
<mat-option value="e">Focus Highlighting</mat-option>
<mat-option value="f">Kontrast</mat-option>
<mat-option value="g">Fokus Verwaltung</mat-option>
<mat-option value="h">Routing</mat-option>
<mat-option value="i">Live Announcer</mat-option>
<mat-option value="j">Eingabeunterstützung</mat-option> -->
</div>
