.example-spacer {
  flex: 1 1 auto;
}

@import '../../scss-theming.scss';
@import '~@angular/material/theming';
@import '~@angular/cdk/a11y';

.dont-select{
  width: 40%;
  // @include noselect();
  // @include font(20px);
  // @include mid {
  //   @include font(30px);
  //   overflow: auto;
  //   height: 300px;
  //   width: 80%
  // }
}

.btn1{

  // @include companyButton();
  // @include boxShadowStrong(100);
  // @include boxShadowStrong();
  // @include mid{
    // margin-right: 50px
  // }

 }
 .btnround{
  // @include companyButton($circle: true);
  // @include boxShadowStrong();
  //   @include mid {
  //     background: red;
  //     @include boxShadowStrong(500);
  // }
 }

















.btn3{
@include companyButton();
@include boxShadowStrong(0);
}


































@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Open-Dyslexic',
  $headline:  mat-typography-level(56px, 32px,lighter,Open-Dyslexic,8px),
  $title: mat-typography-level(46px, 32px, lighter,Open-Dyslexic,8px),
  $body-1: mat-typography-level(38px, 32px,lighter,Open-Dyslexic,8px)
);
// @include mat-core($custom-typography);

.fakeh1{
  font-weight: bold	;font-size: 32px;
}

.fakeh2{
  font-weight: bold	;font-size: 20px;
}

.class{
  @include mat-typography-level-to-styles($custom-typography,body-1);
}

.class2{
  @include mat-typography-level-to-styles($custom-typography,headline);
}
.class3{
  @include mat-typography-level-to-styles($custom-typography,title);
}

:host {
  height: 100vh;
  display: block;
}
.content {
  padding: 2rem;
  box-sizing: border-box;
}

.card-content {
  padding: 1rem;
}


.button1 {

}

.button2 {margin: 100px 100px 100px 0px;

}
.button3 {margin: 1px 100px 100px 0px;
  @include cdk-high-contrast("white-on-black","on") {
    outline: solid 100px;outline-color: greenyellow;
  }
}

.LogoGros {
 display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  object-fit: contain;
}

.topleft {
  position: absolute;
  top: 0px;
  left: 0px;
}

.topright {
  position: absolute;
  top: 40px;
  right: 40px;
  transform: scale(3);
  color: rgba(0,0,0,0.25);
}

.matSelection {
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
}


// .example-focus-monitor .cdk-mouse-focused {
//   background: rgba(255, 0, 0, 0.5);
//   outline: solid 20px;outline-color:  rgba(255, 0, 0, 0.2);
//   // font-size: 200px;

// }

// .example-focus-monitor .cdk-keyboard-focused {
//   background: rgba(0, 255, 0, 0.5);
//   outline: solid 20px;outline-color:  rgba(0, 255, 0, 0.2);
//   // font-size: 200px;
//   // border: #ccc;

// }

// .example-focus-monitor .cdk-touch-focused {
//   background: rgba(0, 0, 255, 0.5);
// }

// .example-focus-monitor .cdk-program-focused {
//   background: rgba(255, 0, 255, 0.5);
// }


// .example-focus-monitor-top .cdk-mouse-focused {
//   background: rgba(255, 0, 0, 0.5);
// }

// .example-focus-monitor-top .cdk-keyboard-focused {
//   background: rgba(0, 255, 0, 0.5);
// }

// .example-focus-monitor-top .cdk-touch-focused {
//   background: rgba(0, 0, 255, 0.5);
// }

// .example-focus-monitor-top .cdk-program-focused {
//   background: rgba(255, 0, 255, 0.5);
// }


button {
  margin-right: 12px;
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

table {
  width: 50%;
}
.button3 {margin: 1px 100px 100px 0px;
    @media (forced-colors: active) {
    // @media screen and (-ms-high-contrast: active){
    /* any rules may come here, for example: */
    outline: solid 10px;outline-color: greenyellow;
 }
}
.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
