<div mat-dialog-content cdkFocusTrap>
  <span class="mat-typography">Bitte ein Produkt wählen</span>
    <mat-selection-list #productList aria-label="Select your product" multiple="false"  >
      <mat-list-option *ngFor="let p of products" [value]="p" color="primary" cdkFocusInitial>
        <div class="color-option">
          <p>{{ p }}</p>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" class="btn1">
      Cancel
    </button>
    <button mat-button (click)="addProduct(productList.selectedOptions.selected[0]?.value)">
      Order
    </button>
  </div>
