/* You can add global styles to this file, and also import other style files */
/* @import '/app/scss-theming.scss'; */


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import '~@angular/material/theming';
@import '~@angular/cdk/a11y';
@import './assets/styles/app-color-palette';
@import './assets/styles/app-theme';


$custom-pallet: (
    50 : #eafbfe,
    100 : #caf5fc,
    200 : #a6effa,
    300 : #82e8f7,
    400 : #68e3f6,
    500 : #FD7F20,
    600 : #46daf3,
    700 : #3dd5f1,
    800 : #34d1ef,
    900 : #25c8ec,
    A100 : #ffffff,
    A200 : #f3fdff,
    A400 : #c0f3ff,
    A700 : #a7eeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-pallet-bad: (
    50 : #eafbfe,
    100 : #00d9ffc7,
    200 : #ff00f2,
    300 : #82e8f7,
    400 : #68e3f6,
    500 : #fdc220,
    600 : #46daf3,
    700 : #3dd5f1,
    800 : #34d1ef,
    900 : #25c8ec,
    A100 : #ffffff,
    A200 : #f3fdff,
    A400 : #c0f3ff,
    A700 : #a7eeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #094ee4,
        500 : #0077ffa4,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@function custom-theme($primary, $accent, $warn,$foreground,$background) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    foreground: $foreground,
    background: $background,
  );
}


$custom-background: (
  background: map_get($custom-pallet,100),
);

$custom-background-bad: (
  background: map_get($custom-pallet-bad,100),
);

$custom-primary: mat-palette($custom-pallet);
$custom-primary-bad: mat-palette($custom-pallet-bad);
$custom-accent: mat-palette($custom-pallet, A200, A100, A400);
$custom-warn: mat-palette($mat-red);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$mat-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
$custom-theme: custom-theme($custom-primary, $custom-accent, mat-palette($mat-red),$mat-light-theme-foreground, $custom-background);
$custom-theme-bad: custom-theme($custom-primary-bad, mat-palette($mat-red), mat-palette($mat-red),$custom-background-bad,$custom-background-bad);

@import './assets/styles/app-typography';
@include app-typography();
@include app-style-core();

html, body { height: 100%; }
body {
  margin: 0;
}

.theme-alt {
  @include app-theme($custom-theme);
}
.theme-light {
  @include app-theme($theme);
}
.theme-bad {
  @include app-theme($custom-theme-bad);
}

.font-droid-sans {
  @include angular-material-typography($custom-typography);
}


