// Global color palettes



$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

// $custom-primary: mat-palette($custom-pallet);
// $custom-accent: mat-palette($custom-pallet, A200, A100, A400);
// $custom-warn: mat-palette($custom-pallet);

