<mat-toolbar color="primary">
  <!-- <span>
    <mat-slide-toggle
      [checked]="isDarkMode"
      (change)="onDarkModeSwitched($event)"
      >Alt Mode</mat-slide-toggle
    >
  </span> -->

  <!-- <span>
    <button
      (click)="onDarkModeSwitched2($event)"
      >Alt Mode</button
    >
  </span>
  <span>
    <button
      (click)="onDarkModeSwitched3($event)"
      >Alt Mode</button
    >
  </span> -->
  <div style="font-size: 12px">

  <mat-form-field appearance="legacy" style="margin-left: 50px">
    <mat-select aria-label="options" [(value)]="selected" (selectionChange)="onDarkModeSwitched2($event)">
      <mat-option value="a">Page new</mat-option>
      <!-- <mat-option value="a">Erkennbarkeit</mat-option> -->
      <mat-option value="b">Page old</mat-option>
      <!-- <mat-option value="c">Typography</mat-option> -->
      <mat-option value="d">Theming</mat-option>
      <!-- <mat-option value="e">Focus Highlighting</mat-option> -->
      <!-- <mat-option value="f">Kontrast</mat-option> -->
      <!-- <mat-option value="g">Fokus Verwaltung</mat-option> -->
      <!-- <mat-option value="h">Routing</mat-option> -->
      <!-- <mat-option value="i">Live Announcer</mat-option> -->
      <!-- <mat-option value="j">Eingabeunterstützung</mat-option> -->
    </mat-select>
  </mat-form-field>
  </div>
  <!-- <p>You selected: {{selected}}</p> -->
</mat-toolbar>
